.gameBoard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  border: 2px solid black;
  margin: 0px auto;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: rgb(168, 149, 149);
  text-align: center;
  cursor: pointer;
  user-select: none;
}